* {
  /* border: solid black 1px; */
  font-family: 'Roboto', sans-serif;
}

html {
  background: linear-gradient(#f0eaee, #e4d8dd);
  height: 100%
}

.nav-bar {
  background: #d6dde3;
  font-size: 16px;
  /* height: 15vh; */
  /* padding-top: 40px; */
  padding-bottom: 20px;
}

.shares {
  font-size: 30px;
}

.nav-icons {
  height: 10px;
  width: 10px;
  /* padding: 8px; */
}

.main-header {
  padding: 10px;
  font-size: 30px;
}

.boxes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.recipient-box {
  background-color: #cfc0c5;
  margin-bottom: 0px;
  width: 320px;
  height: 360px;
  /* margin-left: 20px; */
}

.boxes-container {
  display: flex;
  flex-wrap: wrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0em;
}

h1 {
  font-size: 24px;
}
h2, h4 {
  font-size: 18px;
}

h3, h5 {
  font-size: 14px;
}

h6 {
  font-size: 32px;
}

.recipient-link {
  background-color: #b8999f;
  font-size: 8px;
  width: 290px;
}

.office-people {
  height: 200px;
  width: 320px;
}

.admin {
  display: flex;
  justify-content: flex-end;
}

#navigation {
  .link { color: #FF0000; } /* CSS link color (red) */
  .link:hover { color: #00FF00; } /* CSS link hover (green) */
}