* {
  font-family: 'Roboto', sans-serif;
}

html {
  background: linear-gradient(#f0eaee, #e4d8dd);
}

.nav-bar {
  background: #d6dde3;
  font-size: 16px;
  padding-bottom: 20px;
}

.navigation {
  padding-left: 10px;
}

#navigation {
  color: #b8999f;
  text-decoration: none;
}

#navigation:hover {
  color: #cfc0c5;
}

.admin-dropdown {
  display: flex;
  justify-content: flex-end;
}

.shares {
  font-size: 30px;
}

.nav-icons {
  height: 10px;
  width: 10px;
  padding-left: 6px;
}

.main-header {
  padding: 10px;
  font-size: 30px;
}

.boxes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.image-container {
  position: relative;
}

.share-arrow {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  margin: 8px;
}

.recipient-box {
  background-color: #cfc0c5;
  margin-bottom: 20px;
  width: 320px;
  height: 370px;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.495);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0em;
  margin-left: 12px;
}

#recipient-name {
  font-size: 22px;
}
#name-playlist {
  font-size: 14px;
  padding-bottom: 8px;
}

#date, #playlist, #attachments {
  font-size: 10px;
}

#attachments-number {
  font-size: 28px;
  padding-left: 4px;
}

.recipient-link {
  margin: 0 auto;
  background-color: #b8999f;
  font-size: 10px;
  width: 290px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.office-people {
  height: 200px;
  width: 320px;
}